body{
	
}

.button{
	width: 80px;
	height: 80px;
	font-size: 50px;
}

#left-button{
	position: absolute;
	top: 150px;
	left: 10px;
}

#right-button{
	position: absolute;
	top: 150px;
	right: 10px;
}

#wrapper{
	margin: auto;
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;	
}
#ulcarousel{
	margin: auto;
	padding: 0;
	position: relative;
	list-style: none;
	float: left;
	height: 400px;
	width: 10000px;
}
#ulcarousel li{
	display: inline;
	list-style: none;
	float: left;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
}
.li-content{
	position: relative;
	margin: auto;
	width: 1000px;
}
#slide-track{
	text-align: center;
	clear: both;
	margin: auto;
	padding-top: 50px;
	width: 500px;
}

#item-1{
	background: url('../images/back-1.jpg');
}
#item-2{
	background: url('../images/back-2.jpg');
}
#item-3{
	background: url('../images/back-3.jpg');
}
#item-4{
	background: url('../images/back-4.jpg');
}
